/CMakeCache.txt
/CMakeFiles
/CTestTestfile.cmake
/DartConfiguration.tcl
/Makefile
/Testing
/Win32
/cmake_install.cmake
/find
/locate
/ls
/t-compile
/t-dirent
/updatedb
/*.filters
/*.vcxproj
/*.dir
out/build/x64-Debug/.cmake/api/v1/reply
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX
out/build/x64-Debug/CMakeFiles
out
